html, body, #header {
  background-color: rgba(0,0,0,.6);
}

header {
  padding: 10px;
  color: bisque;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
}

.half, #guestFeeds, .hideLinksClass {
  border-radius: 10px;
}